<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  <title>{% block title %}Secure Share{% endblock %}</title>
  {% block head %} {% endblock %}
</head>

<body>
  <!-- nav bar -->
  <nav class="navbar">
     <div class="page-dot" title="Home"><a href="{{ url_for('home') }}"></a></div>
     <div class="page-dot" title="Sign Up"><a href="{{ url_for('register') }}"></a></div>
     <div class="page-dot" title="Login">
      <a href="{{ url_for('login') }}"></a>
    </div>

  </nav>

  {% block content %}
  {% endblock %}
</body>

</html>